<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kimkha.finanvita">

    <!-- Application -->
    <!-- ======================================================================================================== -->
    <application>

        <!-- Providers -->
        <!-- ======================================================================================================== -->
        <provider
            android:name=".providers.AccountsProvider"
            android:authorities="com.kimkha.finanvita.providers.AccountsProvider"
            android:exported="false" />
        <provider
            android:name=".providers.CategoriesProvider"
            android:authorities="com.kimkha.finanvita.providers.CategoriesProvider"
            android:exported="false" />
        <provider
            android:name=".providers.TransactionsProvider"
            android:authorities="com.kimkha.finanvita.providers.TransactionsProvider"
            android:exported="false" />
        <provider
            android:name=".providers.CurrenciesProvider"
            android:authorities="com.kimkha.finanvita.providers.CurrenciesProvider"
            android:exported="false" />
    </application>

</manifest>
